<template>
  <q-page class="row items-end bg-dark justify-evenly">
    <div class="page-wrapper">
      <div class="page page1"></div>
      <div class="page page2"></div>
      <div class="page page3"></div>
      <div class="page page4"></div>
    </div>
  </q-page>
</template>
<style>
.page-wrapper{
  perspective: 1000px;
}
.page {
  background: linear-gradient(180deg, rgba(167,167,167,0.3) 0%, rgba(235,235,235,0.5) 100%);
  width:250px;
  border-radius: 15px;
  transform: rotateX(70deg);
  height:100px;
  margin-top:-70px;
  box-shadow: 0 0 30px rgba(255,255,255,.05), 2px 2px 30px rgba(255,255,255,.1);
  transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.page1{
  z-index: 1;
  width: 250px;
  margin: auto;
}
@keyframes bn{
  from{
    margin-top:-60px;
  }
  to{
    margin-top:-70px;
  }
}
.page2{
  z-index: 2;
  animation: bn 2s infinite ease-in-out alternate-reverse;
  width: 250px;
  margin: auto;
  margin-top:-66px;
}
.page3{
  z-index: 3;
  width: 250px;
  margin: auto;
  margin-top:-68px;
}
.page4{
  z-index: 4;
  width: 250px;
  margin: auto;
  margin-top:-70px;
}
.page-wrapper:hover .page1{
}
.page-wrapper:hover .page2{
  margin-top:-65px;
}
.page-wrapper:hover .page3{
  margin-top:-70px;
}
.page-wrapper:hover .page4{
  margin-top:-75px
}
</style>
<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'IndexPage',
  components: {},
  setup () {
    
  }
});
</script>
